<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.dao.UserMapper">

    <!--在当前Mapper.xml中使用二级缓存-->
    <cache />


    <select id="queryUserId" resultType="User" useCache="true" >
        select * from mybatis.user where id = #{id}
    </select>

    <update id="updateUser" parameterType="user">
        update mybatis.user set name = #{name} , pwd = #{pwd} where id = #{id}
    </update>



</mapper>